# --- SELECTOR DE BASE DE DATOS ---
# Cambia a 'LOCAL' o 'REMOTE' según necesites
DB_MODE=LOCAL

# --- CONFIGURACIÓN REMOTA (Aiven / Producción) ---
REMOTE_DB_HOST=tu_host_remoto
REMOTE_DB_USER=tu_usuario
REMOTE_DB_PASSWORD=tu_password
REMOTE_DB_NAME=tu_base_de_datos
REMOTE_DB_PORT=19417

# --- CONFIGURACIÓN LOCAL ---
LOCAL_DB_HOST=127.0.0.1
LOCAL_DB_USER=root
LOCAL_DB_PASSWORD=
LOCAL_DB_NAME=lp_erp
LOCAL_DB_PORT=3306
